header {
    background-color: rgb(39, 37, 37);
    font-size: 5px;
}    

.logo-container { /*darle color azul al fondo del logo DINE*/
    background-color: rgb(47, 142, 219);
    width: auto;
    padding: 10px; /* Ajusta según sea necesario */
}


nav { /*recuadro negro donde esta boton "INFORMES"*/
    width: auto;
    background-color: rgb(39, 37, 37);
    display: flex;
    font-size: 5pxs;
}


select {
    background-color: rgba(34, 33, 33, 0.5);
    color: white;
    border-radius: 5px;
    padding: 5px 5px;
    border: none;
    margin-right: 10px;
}

.inicio-button {
    background-color: rgb(226, 221, 221);
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    padding: 10px 1px;
    border-radius: 5px;
    font-size: 12px;
    margin-left: 800px;
    width: 60px;
    margin-top: -20px;
    margin-bottom: 10px;
}

.informes-button {
    background-color: rgb(39, 37, 37);
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px 5px;
    border-radius: 15px;
    font-size: 12px;
    width: 100px;
    margin-top: 30px;
    margin-left: -30px;
    border: 1px solid #ffffff;
}

footer { /*darle fondo negro al pie de pagina*/
    background-color: #272626;
    text-align: le;
    padding: 0px;
    color: rgb(107, 103, 103);
    margin-top: 20px; /*que tan lejo esta el pie de pagina*/
}
