
.flex-container { /* Añadir estilos personalizados para la posición y el tamaño */
    display: flex;
    justify-content: space-between;
}

.left { /* Ajusta el ancho según sea necesario */
    width: 100%;
}

.left p {
    margin-top: -23px;
}

#sec-titulo {
    width: 55%;
    text-align: left; /* Centra el texto */
    font-size: 20px;
    padding-left: 30px;
    display: flex; /* Utiliza flexbox */
    justify-content: space-between; /* Espacio entre los elementos */
    padding-left: 50px; /*ditancia al margen*/
    text-align: left; /* Alinea el texto a la izquierda */
    margin-top: 50px;
}

#sec-titulo h2 {
    font-size: 36px; /*Ajusta el tamaño del titulo "Resultados Electorales*/
}

#sec-contenido h3 { /*Ajusa "Elecciones 2021"*/
    margin-top: 50px; /* Elimina el margen superior para que esté a la misma altura que "Resultados Electorales" */
    font-size: 30px;
    padding-left: 20px; /*que tan lejo esa del margen*/

}

.logo-container { /*darle color azul al fondo del logo DINE*/
    background-color: rgb(47, 142, 219);
    padding: 10px; /* Ajusta según sea necesario */
    width: auto;
}

.logo{ /*parte azul del logo "Dine*/
    margin-left: 10px; /*ajustar tamaño*/
    width:110px;   
}

.recuadros-container button {
    display: inline-block;
    border: none;
    margin: 20px;
    height: 30px;
    width: 600px;
    color: #FFF;
    /* Establece el color del texto en blanco */
    font-size: 28px;
    background-image: url('ruta/para/tu/imagen.svg');
    background-size: cover;
    background-color: transparent;
    /* Establece el fondo transparente */
    background-position: right;
    text-align: auto;
    border-top-right-radius: 25px;
    border-radius: 95px;
    font-size: 50px;
    justify-content: center;
     cursor: pointer;
}

.recuadros-container table {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    /* Ajusta el porcentaje según tus necesidades */
    border-collapse: separate;
    border-spacing: 10px;
    border-radius: 25px;
    margin-bottom: 90px;
}

.informes-button { /*darle color negro al boton "INFORMES"*/
    background-color: rgb(39, 37, 37);
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px 5px;
    border-radius: 15px;
    font-size: 12px;
    width: 100spx;
    border: 1px solid #ffffff;
}


nav { /*recuadro negro donde esta boton "INFORMES"*/
    width: auto;
    background-color: rgb(39, 37, 37);
    display: flex;
    font-size: 5pxs;
}

.nav-links { /*boton "INFORMES"*/
    list-style: none;
    margin-left: auto; /*mover el boton a la derecha*/
    justify-content: flex-end;
    margin-right: 50px;
}

#sec-contenido { /*dejar margen*/
    width: 60%;
    padding-left: 30px;
}

footer { /*darle fondo negro al pie de pagina*/
    background-color: #272626;
    text-align: left;
    color: rgb(107, 103, 103);
    margin-top: ; /*que tan lejo esta el pie de pagina*/
}